.not-found{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	line-height: 1;
	color: $white;
	@include _Tablet{
		font-size: 36px;
	}
}