.result{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	margin-bottom: 10px;
	&__item{
		border: 5px solid $white;
		border-radius: 15px;
		padding: 20px;
		min-height: 150px;
	}
	&__link{
		color: $white;
		font-weight: 500;
		font-size: 18px;
		line-height: 1;
		display: flex;
		align-items: center;
		svg{
			width: 18px;
			height: 18px;
			fill: $white;
			margin-left: 4px;
		}
	}
}